*{
    font-family: 'Roboto', sans-serif;
}

body{
    padding-top: 70px;
    background-image: radial-gradient(circle at 14.64% -11.24%, #d8f6fb 0, #d9f6fd 3.33%, #daf5ff 6.67%, #dbf5ff 10%, #def4ff 13.33%, #e0f3ff 16.67%, #e3f2ff 20%, #e6f1ff 23.33%, #e9f1ff 26.67%, #ecf0ff 30%, #f0efff 33.33%, #f3eeff 36.67%, #f6edff 40%, #faecfe 43.33%, #fcecfc 46.67%, #ffebfa 50%, #ffebf7 53.33%, #ffeaf5 56.67%, #ffeaf2 60%, #ffeaef 63.33%, #ffeaec 66.67%, #ffeaea 70%, #ffeae7 73.33%, #ffebe5 76.67%, #ffebe3 80%, #ffece1 83.33%, #ffeddf 86.67%, #ffedde 90%, #feeedd 93.33%, #fbefdd 96.67%, #f8f0dc 100%);
}
.portafolio{
    font-family: 'Cormorant', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2rem;
}

header{
    height: 50rem;
}
h1{
    margin:0;
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 7rem;
}
.animate__animated.animate__fadeIn {
    --animate-duration: 4s;
}

.sub-titulo{
    height: 30rem;
}
#about{
    min-height: 100%;
    /* margin-top: 10rem;
    margin-bottom: 15rem; */
}
#sobre-mi{
    border-left: solid 3px black;
    padding-left: 4rem;
}
.titular{
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 3rem;
    text-align: right;
    margin-right: 4rem;
}

.titulos-proyectos{
    border-bottom: solid 1px black;
    margin-block: 1rem;
    padding-bottom: 1rem;
}
.titulos-proyectos h4{
    font-family: 'Cormorant', serif;
    font-style: italic;
    font-size: 2rem;
    font-weight: 700;
    text-align: end;
}

.links{
    text-align: right;
    display: block;
    font-family:'Cormorant', serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: black;
}
.links:hover{
    color: rgb(0, 0, 0, 0.4);
}

.proyectos{
    padding-bottom: 3rem;
    margin-bottom: 5rem;
    border-bottom: solid 3px black;
}

#seccion-proyectos{
    margin-block: 20rem;
}

footer{
    height: 20rem;
}
#contacto{
    border-right: solid 3px black;
    padding-right: 4rem;
}
.left{
    text-align: left;
    margin-left: 4rem;
}
.margin-r{
    margin-right: 4rem;
}

.contenedor{
    padding-top:15rem;
}