*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    padding-top: 70px;
    background-image: radial-gradient(circle at 14.64% -11.24%, #d8f6fb 0, #d9f6fd 3.33%, #daf5ff 6.67%, #dbf5ff 10%, #def4ff 13.33%, #e0f3ff 16.67%, #e3f2ff 20%, #e6f1ff 23.33%, #e9f1ff 26.67%, #ecf0ff 30%, #f0efff 33.33%, #f3eeff 36.67%, #f6edff 40%, #faecfe 43.33%, #fcecfc 46.67%, #ffebfa 50%, #ffebf7 53.33%, #ffeaf5 56.67%, #ffeaf2 60%, #ffeaef 63.33%, #ffeaec 66.67%, #ffeaea 70%, #ffeae7 73.33%, #ffebe5 76.67%, #ffebe3 80%, #ffece1 83.33%, #ffeddf 86.67%, #ffedde 90%, #feeedd 93.33%, #fbefdd 96.67%, #f8f0dc 100%); 
}
.navbar{
    background-color: #1E1E1E;
    padding: 8p;
}
header{
    height: 50rem;
}

h1{
    font-weight: 500;
    font-size: 8rem;
    color:#1E1E1E;
}
.titulo-dinamico{
    margin-inline: auto;
    margin-bottom: 14rem;
}
h2{
    line-height: 140%;
    font-weight: 200;
    font-size: 5rem;
    color: #1E1E1E;
}
.titulo-dinamico{
    width:max-content;
    display: flex;
    justify-content:center;
}

.profesion{
    display: flex;
    justify-content: center;
}

.pill-profesion{
    display: flex;
    align-items:center;
    background-color: white;
    padding-block: 8px;
    padding-inline: 32px;
    border-radius: 40px;
}
h3{
    font-size: 1.4rem;
    margin: 0;
}
.cargo{
    margin-block: 2rem;
    display: flex;
    justify-content: center;
}
.pill-cargo {
    background-color:#b1386c;
    padding-block:8px;
    padding-inline: 32px;
    border-radius: 40px;
}
h4{
    font-size: 1rem;
    font-weight: 400;
    color: white;
    margin: 0;
}

.about{
    background: white;
    padding: 20px;
    border-radius: 300px ;
    margin-bottom: 8rem;
}

#foto-perfil{
    width: 340px;
    height: auto;
    border-radius: 50%;
}
#sobre-mi{
    padding-inline:60px;
}

#about h2{
    font-size: 3rem;
    font-weight: 500;
}
.color-icon{
    color:#d96f9d;
}
.lista{
    display: flex;
    justify-content: center;
    position: relative;
}
.item{
    width: max-content;
    position: absolute;
    animation: roll 6s ease 1s infinite backwards;

}
.item:nth-child(1){
    animation-delay:0s;
    opacity:0;
}
.item:nth-child(2){
    animation-delay:2s;
    opacity:0;
}
.item:nth-child(3){
    animation-delay:4s;
    opacity:0;
}

@keyframes roll {
    0% {
        opacity: 0;
        transform: translate3d(0,-70%,0);
    }
    2.5%, 25%{
        opacity: 1;
        transform: translateZ(0);
    }
    27.5%,100%{
        opacity: 0;
        transform: translate3d(0,70%,0);
    }

}

